// ============================================= //
//                    Mixins                     //
// ============================================= //

@mixin centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
  