// font-family: "Roboto Mono", monospace;
// font-family: "Roboto", sans-serif;
// font-family: "Roboto Slab", serif;

a,
p,
button,
span,
li {
  color: var(--text-main);
}

h1,
h2,
h3,
h4,
h5,
h6,
code {
  color: var(--text-headings);
}

h1,
h2,
h3,
h4,
h5,
h6,
pre,
blockquote,
ol,
ul {
  margin-bottom: 20px;
}

h6 {
  color: var(--highlight-primary);
}

a:hover {
  color: var(--text-highlight);
}

.color-light {
  color: var(--bs-white);
}

p,
button,
span,
li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  &.reduce-height {
    line-height: 17px;
  }
  &.heading {
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 16px;
    font-size: 14px;
  }
}

p,
span {
  &.reduce-height {
    line-height: 17px;
  }
  &.heading {
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 16px;
    font-size: 14px;
  }
  :last-child {
    margin-bottom: 0;
  }
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

h1,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 32px;
  line-height: 42px;
}

h2 {
  font-weight: 300;
  font-size: 28px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  line-height: 31px;
}

h4 {
  font-size: 20px;
  line-height: 26px;
}

h5 {
  font-size: 16px;
  line-height: 21px;
}

h6 {
  font-size: 14px;
  line-height: 18px;
}

blockquote,
pre {
  padding: 24px;
  background-color: var(--background-highlight);
  border-radius: 4px;
}

blockquote {
  border-left: solid 4px var(--highlight-primary);
  p,
  a {
    font-weight: bold;
    font-family: "Roboto Slab", serif;
    color: var(--text-headings);
  }
  a:hover {
    color: var(--text-main);
  }
}

pre {
  code {
    font-family: "Roboto Slab", serif;
    color: var(--text-headings);
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
  }
}

code {
  font-size: 15px;
}
