:root {
  // custom stable colors
  --highlight-primary: #e46643;
  --highlight-secondary: #f39765;

  //dark-light theme colors
  --background-main: var(--bs-black);
  --background-secondary: var(--bs-gray-200);
  --background-panel-heading: var(--bs-gray-900);
  --text-main: var(--bs-gray-400);
  --text-secondary: var(--bs-gray-400);
  --text-highlight: var(--bs-white);
}

html[data-theme="light"] {
  --background-main: var(--bs-white);
  --background-secondary: var(--bs-gray-100);
  --background-panel-heading: var(--bs-gray-200);
  --text-main: var(--bs-gray-600);
  --text-secondary: var(--bs-gray-500);
  --text-highlight: var(--bs-gray-600);
}

html[data-theme="dark"] {
  --background-main: var(--bs-black);
  --background-secondary: var(--bs-gray-200);
  --background-panel-heading: var(--bs-gray-900);
  --text-main: var(--bs-gray-400);
  --text-secondary: var(--bs-gray-400);
  --text-highlight: var(--bs-white);
}
